/*Google fonts import*/
@import url(<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kavivanar&display=swap" rel="stylesheet">);

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Adding padding for logo*/
#logo {
    padding-top: 0.5rem;
}

/*General Style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'Kavivanar', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #4b4533;
}

/*Header*/
header {
    background-color: #bab49e;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #6c4c74;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #6c4c74;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #bab49e;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 2px #6c4c74;
    left: 0;
    display: none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding: 1rem;
}

/*Making google translate button look better*/
#google_translate_element {
    background-color: #bab49e;
    padding: 9rem 1rem 0.5rem 0;
    position: relative;
    /* Enable flex properties to align contents*/
    display: flex;
    justify-content: flex-end;
}

/*Main content*/
main {
    background-color: #bab49e;
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Adding a little padding between translate and main body */
    padding-top: .5rem;
}

/*Main Body*/
main {
    /*Make main element take up any surplus space*/
    flex: 1 0 auto;
}

/* Hero section */
#hero {
    height: 700px;
    width: 100%;
    background: url("../images/ruapekapekapa.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /*rgba gives the cover text an opacity*/
    background-color: rgba(91, 68, 117, .5);
    font-size: 100%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding: 1rem;
}

#cover-text>h2,
#cover-text>h3 {
    color: #bab49e;
    text-transform: capitalize;
}

/*Landing page extra information*/

/*formating both images in extra info section*/

#sheep {
    display: flex;
    justify-content: right;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: -1.5rem;
}

#beach {
    display: flex;
    justify-content: left;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: -2rem;
}

.statement-box {
	padding: 0 5px;
	border-radius: 8px;
    margin: 0 2%;
    color: #bab49e;
	background-color: #6d4f75;
}


/*Causes Page*/
.causes {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.causes h2 {
    text-transform: capitalize;
    font-size: 150%;
    text-align: center;
    margin-bottom: 20px;
    padding: 1rem 3rem;
}

.causes h3 {
    text-transform: capitalize;
    font-size: 100%;
    text-align: center;
}

#land #new-settlers #treaty #settler-integration {
    line-height: 20px;
    margin-bottom: 20px;
    display: flex;
}

/*Allows the information to adapt to screens while retaining some form*/
#psuedo-aside-main {
    width: 100%;
    padding-left: .5rem;
    margin: .5rem;
    border-left: 1px solid #6c4c74;
}

#land #new-settlers #treaty #settler-integration p {
    width: 60%;
    padding-bottom: 10px;
}

.causes p {
    padding: 0 20px;
    text-align: left;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

.causes div {
    padding: 15px;
    text-align: center;
    /* This will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row */
    flex-basis: 200px;
    flex-grow: 1;
    /* Creates a grid of meetup time divs over the background image */
    border: 2px solid white;
}

/*Footer*/
footer {
    text-align: center;
    padding: 20px 0;
    display: flex;
    font: 100%;
    padding: 1%;
    background-color: #9c959b;
    color: #4b4533;
}

/*Media query tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 2rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 2rem;
        margin: 0 0 0.5rem;
        word-wrap: normal;
    }

    /*Making google translate button look better*/
    #google_translate_element {
        padding-top: 7.5rem;
        position: relative;
        /* Enable flex properties to align contents*/
        display: flex;
        justify-content: flex-end;
    }

    /*Hero*/
    #cover-text {
        width: 300px;
        right: 50px;
    }

    #psuedo-aside {
        width: 45%;
        padding-left: 1rem;
        margin: 1rem;
        float: left;
        border-left: 1px solid #6c4c74;
        font-style: italic;
    }

    
    /*Media query laptops and desktops (992px and up)*/
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }

        /*Making google translate button look better*/
        #google_translate_element {
            margin-top: 4.5rem;
            padding-top: 0.5rem;
            position: relative;
            /* Enable flex properties to align contents*/
            display: flex;
            justify-content: flex-end;
        }

    }

    /*Media query for screens larger than 1200px*/
    @media screen and (min-width: 1200px) {

        /*Making google translate button look better*/
        #google_translate_element {
            padding-top: 1rem;
            position: relative;
            /* Enable flex properties to align contents*/
            display: flex;
            justify-content: flex-end;
        }
    }
}