/*Google fonts import*/
@import url(<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kavivanar&display=swap" rel="stylesheet">);

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'Kavivanar', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #4b4533;
}

/*Header*/
header {
    background-color: #bab49e;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #6c4c74;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #6c4c74;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #bab49e;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 2px #6c4c74;
    left: 0;
    display: none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding: 1rem;
}

/*Making google translate button look better*/
#google_translate_element {
    background-color: #bab49e;
    padding: 9rem 1rem 0.5rem 0;
    position: relative;
    /* Enable flex properties to align contents*/
    display: flex;
    justify-content: flex-end;
}

/*Main content*/
main {
    background-color: #bab49e;
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Adding a little padding between translate and main body */
    padding-top: .5rem;
}

/*Main Body*/
main {
    /*Make main element take up any surplus space*/
    flex: 1 0 auto;
}

/* Hero section */
#hero {
    height: 60rem;
    width: 100%;
    background: url("../images/ruapekapekapa.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /*rgba gives the cover text an opacity*/
    background-color: rgba(91, 68, 117, .5);
    font-size: 100%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding: 1rem;
}

#cover-text>h2,
#cover-text>h3 {
    color: #bab49e;
    text-transform: capitalize;
}

/*Footer*/
footer {
    text-align: center;
    padding: 20px 0;
    display: flex;
    font: 100%;
    padding: 1%;
    background-color: #9c959b;
    color: #4b4533;
}

/*Media query tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 2rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 115%;
        line-height: 2rem;
        margin: 0 0 0.5rem;
        word-wrap: normal;
    }

    /*Making google translate button look better*/
    #google_translate_element {
        padding-top: 6rem;
        position: relative;
        /* Enable flex properties to align contents*/
        display: flex;
        justify-content: flex-end;
    }

    /*Hero*/
    #cover-text {
        width: 300px;
        right: 50px;

    }


    /*Media query laptops and desktops (992px and up)*/
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }

        /*Making google translate button look better*/
        #google_translate_element {
            margin-top: 4rem;
            padding-top: 0.5rem;
            position: relative;
            /* Enable flex properties to align contents*/
            display: flex;
            justify-content: flex-end;
        }

    }

    /*Media query for screens larger than 1200px*/
    @media screen and (min-width: 1200px) {

        /*Making google translate button look better*/
        #google_translate_element {
            padding-top: 0.5rem;
            position: relative;
            /* Enable flex properties to align contents*/
            display: flex;
            justify-content: flex-end;
        }
    }