@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kavivanar&display=swap");

/*Resetting default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Kavivanar', sans-serif;
}

#logo {
    flex: 1 0 100%;
    padding-top: 0.5rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #4b4533;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #bab49e;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #6c4c74;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: large;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu>li {
    margin: 0.2em;
    text-decoration: none;
    transition: color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 6px;
    padding: .5rem;
}

.active {
    border-bottom: 2px solid #222122;
}

#menu li:hover,
#menu li:focus {
    color: #ca050f;
    box-shadow: 0 0 0 2px #e02a5a;
    outline: 2px solid #af050d;
    outline-offset: 2px;
}

/*Navbar*/
nav {
    flex-basis: 100%;
    order: 3;
    position: absolute;
    background-color: #bab49e;
    width: 100%;
    padding-left: 1.3rem;
    padding-top: 1.3rem;
    box-shadow: 0 2px 2px #6c4c74;
    left: 0;
    display: none;
    top: 100%;
}

.nav-controls {
    display: flex;
    align-items: center;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1.2rem;
    order: 1;
    text-align: center;
}

/*Making google translate button look better*/
#google_translate_element {
    background-color: #bab49e;
    padding: 0.5rem 0.5rem 0.5rem 5rem;
    flex: 1 0 100%;
    order: 2;
    text-align: right;
}

main {
    background-color: #bab49e;
    flex: 1;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 600px;
    width: 75%;
    background: url("../images/ruapekapekapa.jpg") no-repeat center center/cover;
    position: relative;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    border: hidden;
    border-radius: 8px;
    padding: 15px;
}

/* Cover text */
#cover-text {
    background-color: #6d4f75;
    font-size: 100%;
    position: absolute;
    left: 7.5rem;
    bottom: 0.6rem;
    width: 80%;
    min-height: 200px;
    border: hidden;
    border-radius: 8px;
    padding: 1rem;
}

#cover-text>h2,
#cover-text>h3 {
    color: #bab49e;
    text-transform: capitalize;
}

/*Landing page extra information*/
.responsive-image {
    width: 45%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    z-index: 0;
}

.top-images {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.bottom-images {
    display: flex;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
}

.statement-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -5px;
    margin-bottom: -5px;
    position: relative;
    z-index: 1;
}

.statement-box {
    max-width: 55%;
    padding: 0 5px;
    border-radius: 8px;
    margin: 0 2%;
    color: #bab49e;
    background-color: #6d4f75;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*Causes Page*/
.causes {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.causes h2 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 20px;
    padding: 1rem 3rem;
}

.cause-section h3 {
    font-size: 100%;
    text-align: center;
}

.cause-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cause-content-wrapper {
    width: 45%;
    margin: 10px 0;
}

.cause-content-wrapper:nth-child(odd) {
    align-self: flex-start;
}

.cause-content-wrapper:nth-child(even) {
    align-self: flex-end;
}

.causes-main,
.causes-supplemental {
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid #000000;
    color: #242121;
    margin-bottom: 10px;
}

.causes img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 2px solid #000000;
    padding: 10px;
    background-color: #f0f0f0;
}

.causes-img {
    text-align: center;
    margin-bottom: 1.2rem;
}

.causes-img-caption {
    font-size: 0.8em;
    color: #242121;
}

.causes-supplemental a {
    font-size: small;
    background-color: #d1d1d1;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 6px;
    margin: 1rem;
    padding: 0 0.2rem;
}

.causes-supplemental a:hover,
.causes-supplemental a:focus {
    color: #ca050f;
    box-shadow: 0 0 0 2px #e02a5a;
    outline: 2px solid #af050d;
    outline-offset: 2px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
    width: 100%;
}

/*Campaigns page*/
.campaigns {
    flex: 1;
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campaigns h2 {
    font-size: 150%;
    text-align: center;
    padding-top: 1rem;
}

.campaigns h3 {
    font-size: 100%;
    text-align: center;
}

.campaigns p {
    padding: 0 20px;
    text-align: left;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

.map {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000000;
    padding: 10px;
    background-color: #f0f0f0;
}

.map-container {
    text-align: center;
    margin-bottom: 1.2rem;
}

.map-caption {
    font-size: 0.8em;
    color: #242121;
}

.campaign-section {
    max-width: 55%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid #000000;
    margin: 10px 0;
    color: #242121;
    align-self: flex-start;
}

/* Left-aligned sections */
.campaign-section:nth-child(odd) {
    align-self: flex-start;
}

/* Right-aligned sections */
.campaign-section:nth-child(even) {
    align-self: flex-end;
}

.campaign-section a {
    font-size: small;
    background-color: #d1d1d1;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 6px;
    margin: 1rem;
    padding: 0 0.2rem;
}

.campaign-section a:hover,
.campaign-section a:focus {
    color: #ca050f;
    box-shadow: 0 0 0 2px #e02a5a;
    outline: 2px solid #af050d;
    outline-offset: 2px;
}

/*consequences page*/
.consequences {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Headers */
.consequences h2 {
    font-size: 150%;
    text-align: center;
    padding-top: 1rem;
}

.consequences h3 {
    font-size: 100%;
    text-align: center;
}

.consequences h4 {
    font-size: 75%;
    text-align: start;
}

/* Paragraphs */
.consequences p {
    padding: 0 20px;
    text-align: left;
}

/* Horizontal rule */
hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

/* Consequences section styling */
.consequences-section {
    width: 100%;
    max-width: 55%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid #000000;
    margin: 10px 0;
    color: #242121;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Alternating alignment for sections */
.consequences-section:nth-child(odd) {
    align-self: flex-start;
}

.consequences-section:nth-child(even) {
    align-self: flex-end;
}

#spec-gap {
    font-size: xx-small;
    padding-top: 1rem;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 80%;
}

td, th {
    border: 1px solid #6c4c74;
    text-align: left;
    padding: 0.5rem;
    font-size: medium;
}

/* Remove right border from last column */
td:last-child, th:last-child {
    border-right: none;
}

/* Remove bottom border from last row */
tbody tr:last-child td {
    border-left: none;
    border-bottom: none;
}

/* Remove all borders from the 4th column and notes */
td:nth-child(4), th:nth-child(4), td.note {
    border: none !important;
}

.note {
    font-style: italic;
    color: #4b4533;
}

/*external links page*/
.external-links h2 {
    text-transform: capitalize;
    font-size: 150%;
    text-align: center;
    padding: 1rem 2rem;
}

.external-links h3,
.printed h3 {
    font-size: 100%;
    text-align: center;
}

.printed h3 {
    font-size: x-large;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top: 10px double #6c4c74;
}

section.printed {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: .5rem 1rem;
    color: #4b4533;
    width: 80%;
}

.printed h4 {
    text-transform: uppercase;
    font-size: large;
}

#youtube,
#links {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
    padding: 1rem;
    max-width: 100%;
    width: 60%;
}

#youtube a {
    text-indent: 20px;
    padding: .5rem 1rem;
    color: #4b4533;
    text-decoration: none;
    width: 80%;
}

.ytube {
    transition: color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 6px;
    margin: 1rem;
    padding: 0 0.2rem;
}

#links li {
    list-style-type: none;
    text-indent: 20px;
    padding: 0.2rem;
}

#links li a {
    padding: .5rem 1rem;
    color: #4b4533;
    text-decoration: none;
    width: 90%;
    transition: color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 6px;
    margin: 1rem;
    padding: 0 0.2rem;
}

.ytube:hover,
#links a:hover {
    color: #ca050f;
    box-shadow: 0 0 0 2px #e02a5a;
    outline: 2px solid #af050d;
    outline-offset: 2px;
}

.ytube:focus,
#links a:focus {
    color: #ca050f;
    box-shadow: 0 0 0 2px #e02a5a;
    outline: 2px solid #af050d;
    outline-offset: 2px;
}

#docos,
#books,
#films {
    flex: 1 1 30%;
    margin: 0.3rem;
    min-width: 250px;
}

#docos,
#books,
#films {
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
    padding: 0.5rem;
    max-width: 100%;
}

#docos li,
#books li,
#films li {
    list-style-type: none;
    padding: 0.2rem;
}

#books .tabbed-in-spec {
    text-indent: 30px;
}

/* Footer */
footer {
    padding: 20px 0;
    background-color: #9c959b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copywrite {
    color: #4b4533;
}

/*Media query tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /*Header*/
    header {
        flex-wrap: nowrap;
    }

    nav {
        position: static;
        display: block;
        width: auto;
        order: 2;
        flex-basis: auto;
        box-shadow: none;
        width: fit-content;
        padding-right: 2rem;
    }

    .nav-controls {
        order: 3;
    }

    #menu {
        display: flex;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Adjusting text size */
    body {
        font-size: 16px;
    }

    #logo {
        font-size: 250%;
        line-height: 2rem;
        margin: 0 0 0.5rem;
        word-wrap: normal;
        flex: 0 1 auto;
    }

    /*Making google translate button look better*/
    #google_translate_element {
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex: 0 1 auto;
        order: 3;
        padding: 0;
    }

    /*Hero*/
    #cover-text {
        width: 300px;
        left: 23rem;
    }

    /*Landing page extra information*/
    .statement-box {
        font-size: large;
    }

    .statement-container {
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .responsive-image {
        max-width: 50%;
    }


    #beach {
        padding-left: 4rem;
    }
}

/*Media query laptops and desktops (992px and up)*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /* Adjusting text size */
    body {
        font-size: 18px;
    }

    /*Making google translate button look better*/
    #google_translate_element {
        margin-top: 5rem;
        padding-top: 2rem;
        position: relative;
        /* Enable flex properties to align contents*/
        display: flex;
        justify-content: flex-end;
    }

    /*Hero*/
    #cover-text {
        width: 300px;
        left: 41rem;
    }

    .responsive-image {
        max-width: 50%;
    }

    /*Landing page extra information*/
    .statement-box {
        font-size: x-large;
    }

    .statement-container {
        margin-top: -20px;
        margin-bottom: -20px;
    }

    #beach {
        padding-left: 5rem;
    }

}

/*Media query for screens larger than 1200px*/
@media screen and (min-width: 1200px) {

    /* Adjusting text size */
    body {
        font-size: 20px;
    }

    /*Making google translate button look better*/
    #google_translate_element {
        padding-top: 1rem;
        position: relative;
        /* Enable flex properties to align contents*/
        display: flex;
        justify-content: flex-end;
    }

    /*Hero*/
    #cover-text {
        width: 300px;
        left: 72rem;
    }

    .responsive-image {
        max-width: 60%;
    }
}